
.padLeft {
  padding-left:20px;

}

.padRight {
  padding-right:20px;

}

.bordi {
  border-left-color: black;
  border-left-style: groove;
  border-left-width: 1px;
  border-bottom-color: black;
  border-bottom-style: groove;
  border-bottom-width: 1px;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
  background-color:transparent;
}

.right {
    float: right;
}



/*STILE DEI LINK FATTI A BOTTONE*/


.btn a {
  color: #ffffff;
}

.btn a:hover {
  color: #ffffff;
  text-decoration: none;
    background-color:transparent;
}
.btn a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color:transparent;
}

.btn a:visited{
  color: #ffffff;
} 

.btn.btn-default a{
  color: #005580;
}

.btn.btn-default a{
  color: #005580;
}

.btn.btn-default a:hover {
  color: #005580;
  text-decoration: none;
    background-color:transparent;
}

.btn.btn-primary.btn-white {
  color: #ffffff;
}

.btn.btn-success.btn-white {
  color: #ffffff;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }





#modalScopo.dimensione{ height : 250px; 
              width : 300px;
            }

.hiddenRow {
    padding: 0 !important;
}


/*PER THUMBNAILS*/
.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}


/*CUORE ANIMATO*/
.contenitoreCuore {
  position:relative;
  height: 146px;
  top:20px;
  left:20px;

}



.heartB { 
    z-index:10;
    height: 145px;
    width: 143px;
    position: absolute;
    bottom:0;
    background-image: image-url("cuoreb.png"); /* Cuore */
    background-repeat: no-repeat;
  }


.heart { 
    z-index:10;
    height: 145px;
    width: 143px;
    position: absolute;
    bottom:0;
    background-image: image-url("cuore.png"); /* Cuore */
    background-repeat: no-repeat;
  }

.liquid {
  z-index: 0;
  position:absolute;

  bottom:0;
  height: 145px;
  width: 143px;
  background-image: image-url("sfondo_cuore.jpg");
  /* Remove the bottom two lines to stop animation */
  -webkit-animation: move 150s linear infinite;
  -moz-animation: move 150s linear infinite;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 2212px 0px;
    }
}

@-moz-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 2212px 0px;
    }
}