<!-- <p id="notice"><%= notice %></p>
 -->

<h1>Dettagli Versamento</h1>

<h2>Campagna: <%= link_to @bill.campaign.nome, campaign_path(@bill.campaign)%></h2>


<p>
  <strong>Totale versamento:</strong>
  <%= @bill.totale %>
</p>

<p>
  <strong>Utilizzi versamento:</strong>
  
</p>

<%= link_to 'Back', mybills_path %>
