<p id="notice"><%= notice %></p>

<p>
  <strong>Totale:</strong>
  <%= @bill.totale %>
</p>

<%= link_to 'Edit', edit_campaign_bill_path(@campaign, @bill) %> |
<%= link_to 'Back', campaign_path(@campaign) %>
