<p id="notice"><%= notice %></p>

<p>
  <strong>Totale:</strong>
  <%= @bill.totale %>
</p>

<% if can? :update, Bill %>
link_to 'Edit', edit_campaign_bill_path(@campaign, @bill) %> |
<% end %>
<%= link_to 'Back', campaign_path(@campaign) %>
